body {
font-family: arial;
font-size: 14px;
margin: 0;
padding: 0;
color: #06477D;
width: 500px;
background-color: lightgrey;
}

ul {
list-style-type: none;
cursor: pointer;
padding: 0;
margin: 0;
background-color: lightgrey;
}

li {
text-align: left;
padding: 5px 20px;
}
li:hover {
background: #06477D;
color: white;
}
p{
font-weight: bold;
}
button{
background-color: white;
color: #06477D;
display: inline-block;
border: none;
cursor:pointer;
font-size: 16px;
margin: 15px;
}
button:hover{
background-color: #06477D;
color: white;
display: inline-block;
border: none;
cursor:pointer;
font-size: 16px;
margin: 15px;
}
